<!DOCTYPE html>
<html>
	<head>
		<title>ShareOutdoors</title>
		<script rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" asyn></script>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">
		<link rel = "stylesheet" href="/stylesheets/landing.css">
	</head>
	<body>
		
<div class="container">
	<div id="landing-header">
		<h1>
			Welcome to ShareOutdoors
		</h1>
		<a class="btn btn-outline-success btn-lg" href = "/campgrounds" > Discover All the Outdoors </a>
		<!-- <a class="btn btn-outline-success btn-lg" href = "/campgrounds">Share you outdoor activity!</a>			 -->

	</div>

	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>


<%- include ("partials/footer") %>


